$green: rgb(35, 206, 107);

$grey: rgb(184, 197, 214);

$bordersections: 3px solid rgb(0, 0, 0);

$boxshadowstext: 5px 3px 8px 0 rgb(204, 204, 204);

$boxshadowsimg: 5px 3px 8px 2px rgb(204, 204, 204);

$boxshadowstitle: 8px 0 8px -4px rgb(204, 204, 204);