// TIENDA

#grid {
    display: grid; 
    grid-template-columns: 1.5fr 0.5fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". ."; 
}

.div-card {
    box-shadow: $boxshadowsimg;
    border: $bordersections;
}

.div-card-body {
    background-color: $green;
    border-radius: 2px;
    font-size: 18px;
}

.card-title {
    font-size: 27px;
    color: #000000;
}

.boton-anadir {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(202, 215, 231);

    &:hover {
        border: 2px solid rgb(0, 0, 0);
        background-color: $grey;
    }
}

.input-cantidad {
    border: 2px solid rgb(0, 0, 0);
}

.boton-finalizar {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(39, 223, 115);
    
    font-weight: 600;
    font-size: 17px;

    &:hover {
        border: 2px solid rgb(0, 0, 0);
        background-color: $green;
    }
}